@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope);
  --font-heading: var(--font-anton);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212844;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope);
  overflow-x: hidden;
}

html.lenis {
  height: auto;
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis [data-lenis-scroll] {
  will-change: transform;
}


/* globals.css */
.cube-wrapper {
  perspective: 1000px;
  width: 125px;
  height: 40px;
  cursor: pointer;
}

.cube-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.4s ease;
}

.cube-wrapper:hover .cube-inner {
  transform: rotateX(90deg);
}

.cube-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 13px;
  padding: 0 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  backface-visibility: hidden;
  border: 1px solid #EF8A76;
  border-radius: 6px;
}


.cube-front {
  background-color: transparent;
  color: #E6D5B7;
  transform: rotateX(0deg) translateZ(25px); /* half of height */
}

.cube-back {
  background-color: #EF8A76;
  color: #1b1e3d;
  transform: rotateX(-90deg) translateZ(25px);
}

.cube-wrapper-skills {
  perspective: 1000px;
  width: 130px;
  height: 45px;
  cursor: pointer;
}

.cube-wrapper-skills:hover .cube-inner {
  transform: rotateX(90deg);
}

.cube-face-skills {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  backface-visibility: hidden;
  border: 1px solid #EF8A76;
  border-radius: 0.25rem;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s step-start infinite;
}

